version: "4.3.0"

# ---------------------------------------------------------------------------
# CloudWatch Logs – Declarative Connector Manifest
#
# This connector cannot be expressed as pure declarative YAML because it
# talks directly to AWS via the boto3 SDK (no HTTP REST layer exposed).
# Instead, the heavy lifting is delegated to two custom Python components
# defined in components.py:
#
#   • CloudWatchLogsPartitionRouter  – lists all log groups (or custom
#     reports) and chops the time range into 1-day slices.
#   • CloudWatchLogsRetriever        – calls filter_log_events for each
#     slice and handles nextToken pagination.
#
# The declarative framework handles:
#   • spec / connection check wiring
#   • stream discovery (single "logs" stream that fans out via the router)
#   • incremental cursor state management
# ---------------------------------------------------------------------------

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - logs

definitions:

  # -----------------------------------------------------------------------
  # Shared schema for every log-event record
  # -----------------------------------------------------------------------
  logs_schema:
    type: InlineSchemaLoader
    schema:
      "$schema": "http://json-schema.org/draft-07/schema#"
      type: object
      properties:
        timestamp:
          type: integer
          description: "Event timestamp in milliseconds since epoch."
        message:
          type: string
          description: "The log event message."
        logStreamName:
          type: string
          description: "Name of the log stream this event came from."
        ingestionTime:
          type: integer
          description: "Ingestion timestamp in milliseconds since epoch."
        eventId:
          type: string
          description: "Unique identifier for the log event."

  # -----------------------------------------------------------------------
  # Cursor / incremental sync
  # -----------------------------------------------------------------------
  logs_cursor:
    type: DatetimeBasedCursor
    cursor_field: timestamp
    datetime_format: "%s%f"   # millisecond epoch stored as-is
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config.get('start_date', '1970-01-01T00:00:00Z') }}"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    end_datetime:
      type: MinMaxDatetime
      datetime: "{{ now_utc() }}"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"

  # -----------------------------------------------------------------------
  # Custom partition router  (lists log groups + custom reports → day slices)
  # -----------------------------------------------------------------------
  logs_partition_router:
    type: CustomPartitionRouter
    class_name: "source_declarative_manifest.components.CloudWatchLogsPartitionRouter"
    # All config fields are automatically injected by the framework.

  # -----------------------------------------------------------------------
  # Custom retriever  (calls filter_log_events for each slice)
  # -----------------------------------------------------------------------
  logs_retriever:
    type: CustomRetriever
    class_name: "source_declarative_manifest.components.CloudWatchLogsRetriever"
    # All config fields are automatically injected by the framework.

  # -----------------------------------------------------------------------
  # The "logs" stream
  # -----------------------------------------------------------------------
  logs_stream:
    type: DeclarativeStream
    name: logs
    primary_key: eventId
    schema_loader:
      $ref: "#/definitions/logs_schema"
    retriever:
      $ref: "#/definitions/logs_retriever"
    incremental_sync:
      $ref: "#/definitions/logs_cursor"

streams:
  - $ref: "#/definitions/logs_stream"

# ---------------------------------------------------------------------------
# Connection spec (mirrors spec.json)
# ---------------------------------------------------------------------------
spec:
  type: Spec
  documentation_url: "https://docs.airbyte.com/integrations/sources/cloudwatch"
  connection_specification:
    "$schema": "http://json-schema.org/draft-07/schema#"
    title: CloudWatch Logs
    type: object
    required:
      - region_name
    additionalProperties: false
    properties:

      region_name:
        type: string
        title: AWS Region
        description: >
          The AWS region where your CloudWatch log groups are located
          (e.g. us-east-1).
        order: 0

      role_arn:
        type: string
        title: AWS Role ARN
        description: Optional. IAM Role ARN to assume for accessing CloudWatch logs.
        default: null
        order: 1

      aws_access_key_id:
        type: string
        title: AWS Access Key ID
        description: >
          Optional. AWS access key ID used to authenticate with CloudWatch.
        airbyte_secret: true
        default: null
        order: 2

      aws_secret_access_key:
        type: string
        title: AWS Secret Access Key
        description: >
          Optional. AWS secret access key used to authenticate with CloudWatch.
        airbyte_secret: true
        default: null
        order: 3

      log_group_prefix:
        type: string
        title: Log Group Prefix (Optional)
        description: >
          If set, only log groups whose name starts with this prefix will be
          discovered. If empty, all log groups in the region are used.
        default: ""
        order: 4

      session_duration:
        type: number
        title: Session Duration (seconds)
        description: >
          AWS STS session duration in seconds when role_arn is provided.
          Defaults to 3600 (1 hour).
        default: 3600
        order: 5

      start_date:
        type: string
        title: Start Date
        description: "UTC date-time in ISO-8601 format, e.g. 2021-01-01T00:00:00Z."
        examples:
          - "2021-01-01T00:00:00Z"
        format: date-time
        pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
        default: null
        order: 6

      custom_log_reports:
        type: array
        title: Custom Log Reports
        description: >
          Optional. Define named subsets of a log group with optional stream
          filtering and filter patterns.
        order: 7
        default: []
        items:
          type: object
          required:
            - name
            - log_group_name
          additionalProperties: false
          properties:
            name:
              type: string
              title: Custom Log Report Name
              description: >
                Unique name for this custom report. Used as the Airbyte stream
                name. Must contain only letters, digits, or underscores.
            log_group_name:
              type: string
              title: Log Group Name
              description: Exact name of the CloudWatch log group to read from.
            log_stream_names:
              type: array
              title: Log Stream Names
              description: >
                Optional. If provided, only these log streams within the log
                group will be read.
              default: []
              items:
                type: string
                title: Log Stream Name
            filter_pattern:
              type: string
              title: Filter Pattern
              description: >
                Optional. CloudWatch Logs filter pattern. Only events matching
                this pattern are returned.
              default: ""
